<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Hardware features (optional) -->
    <uses-feature android:name="android.hardware.vulkan.level" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CenteredDemo"
        tools:targetApi="31">

        <!-- CenteredActivity with Vulkan rendering (extends GameActivity) -->
        <activity
            android:name=".CenteredActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!-- NativeActivity configuration - points to our Rust library -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="centered_engine" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
